<!DOCTYPE html>
<html ng-app>
    <head>
    	<title>Let's Hire</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content=", width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />
        
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />     
        <link rel="stylesheet" type="text/css" href="themes/android-theme.css" />   
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        
        <script type="text/javascript" src="cordova-2.5.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.js"></script>
		<script type="text/javascript">
			var DEBUG_ANDROID_THEME=true
		</script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/jquery-mobile-angular-adapter-standalone.min.js"></script>
		<script type="text/javascript" src="js/jquery.mobile.android-theme.js"></script>	
		<script type="text/javascript" src="js/index.js"></script>
		<script src="http://debug.phonegap.com/target/target-script-min.js#anonymous"></script>
    </head>
    <body>
		<!-- index -->
        <div id="index" data-role="page" data-theme="c">

			<div data-role="header" data-position="fixed">
				<h1>Let's Hire</h1>
				<a id="index-other" href="#index-popup-menu" data-rel="popup" class="ui-btn-right"> III </a>
			</div><!-- /header -->
		
			<div data-role="content">
				<label id="user-login-status" style="display: none">Connecting ... </label>
				<form id="user-login-form">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username" placeholder='admin@local.com' value="admin@local.com"/>
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" value="admin"/>
					<a id="log-in-button" data-role="button" data-ajax="false" data-rel="external">Log in</a>
				</form>	
			</div><!-- /content -->
			
			<div id="index-popup-menu" data-role="popup" data-theme="d">
				<ul data-role="listview" data-inset="true" style="min-width: 210px;" data-theme="d">
					<li><a href="settings.html">Settings</a></li>
					<li><a href="about.html">About</a></li>
				</ul>	
			</div>
			
		</div><!-- /page -->
		
		<!-- interviews -->
		<div id="interviews" data-role="page" data-theme="c" ng-controller="InterviewsCtrl">
			<div data-role="header">
				<a id="interviews-user" data-role="button" href="#interviews-menu-panel">USERNAME</a>
				<h1>  </h1>
				<a data-role="button" href="#interviews-settings" data-rel="popup"> III </a>
			</div>
			
			<div data-role="content">
				<ul id="interviews-list" data-role="listview">
					<li ng-repeat="interview in interviews">
						<a ng-click="interviewDetail(interview.id)">
							<h2>{{interivew.title}}</h2>
							<p><strong>Candidate for {{interview.title}}, {{interview.location}}</strong></p>
							<p class="ui-li-aside"><strong>{{interview.scheduled_at}}</strong></p>
							<p><strong>Status: {{interview.status}}</strong></p>
						</a>
					</li>
				</ul>		
			</div>
			
			<div data-role="footer" data-position="fixed">
				<div data-role="navbar" data-grid="a">
					<ul>
						<li><a id="interviews-refresh" data-icon="refresh" data-rel="external" data-ajax="false">Refresh</a></li>
						<li><a id="interviews-to-current" data-icon="right" data-rel="external" data-ajax="false">Current Interview</a></li>
					</ul>
				</div>	
			</div>
			
			<div id="interviews-menu-panel" data-role="panel">
				<ul data-role="listview" data-theme="a">
					<li><a id="interviews-today" class="interviews-interval" data-ajax="false" data-rel="external" ng-click="todayInterviews()">Interviews Today</a></li>
					<li><a id="interviews-week" class="interviews-interval" data-ajax="false" data-rel="external" ng-click="weekInterviews()">Interviews This Week</a></li>
					<li><a id="interviews-month" class="interview-interval" data-ajax="false" data-rel="external" ng-click="monthInterviews()">Interviews This Month</a></li>
					<li><a id="user-log-out" data-ajax="false" data-rel="external">Log out</a></li>
				</ul>
			</div>
			
			<div id="interviews-settings" data-role="popup" data-theme="d">
				<ul data-role="listview" data-inset="true" data-theme="d">
					<li><a href="#">options 1</a></li>
					<li><a href="#">options 2</a></li>
					<li><a href="#">options 3</a></li>
				</ul>
			</div>
		</div>
		
		<!-- interview -->
		<div id="interview" data-role="page" data-theme="c" ng-controller="InterviewsCtrl">
			<div data-role="header">
				<a id="interview-back" data-role="button" data-icon="arrow-l">Back</a>
				<h1>Interview</h1>
			</div>
			
			<div data-role="content">
				<div id="interview-text-details">
					<h1 id="interview-info-name"></h1>
					<p> Apply for <h4 id="interview-info-title"></h4> </p>
					<p> Location:<h4 id="interview-info-location"></h4> </p>
					<p> Status: <h4 id="interview-info-status"></h4> </p>
					<p> Time: <h4 id="interview-id-time"></h4> </p>
				</div>
				<p><strong>Attachments:</strong></p>
				<div id="interview-attachment-details">
					
				</div>
			</div>
			
			<div data-role="footer" data-position="fixed" >
				<div data-role="navbar" data-grid="c">
					<ul>
						<li><a id="interview-action" data-icon="right">Action</a></li>
						<li><a id="interview-attach-photo" data-icon="plus" href="#photo-source-selector" data-rel="popup" data-position-to="window">Photo</a></li>
						<li><a id="interview-attach-audio" data-icon="plus">Audio</a></li>
						<li><a id="interview-feedback" data-icon="edit" href="feedback.html">Feedback</a></li>
					</ul>
				</div>
			</div>
			
			<div id="photo-source-selector" data-role="popup" data-theme="d">
				<ul data-role="listview" data-inset="true" data-theme="d"  style="min-width: 210px">
					<li data-role="divider" data-theme="e">Select Source</li>
					<li><a id="selector-gallery" data-rel="external" data-ajax="false">Attach photo from Gallery</a></li>
					<li><a id="selector-camera" data-rel="external" data-ajax="false">Attach photo from Camera</a></li>
				</ul>
			</div>
			
		</div><!-- /page -->
		
		<!-- uploading indicator -->
		<div id="throbber-dialog" data-role="page" data-rel="dialog" data-close-btn="none">
			<img src="img/Ajax-loader.gif" />
			<p> Uploading Photo ... </p>
		</div>
		
    </body>
</html>
